body {
  margin: 0;
}
h1 {
    color: white;
}
div {
  margin: auto;
  text-align: center;
}
.col-sm-2{
  padding: 0;
  margin: 40 auto 0 auto;
}
.row{
  padding: 0;
  margin: 0;
}
#astrogation{
  margin: 40px auto 0px auto;
  border: 1px solid green;
}
